<body>
<div class="control-label">
    <h3>Admin Panel<div class="glyphicon glyphicon-home"></div> </h3>
    <div class="nav_controller">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
    </div>

    <div class="panel_choice">
        <a href="/admin/administrator"><div class="admin_role">
            <div class="center_block">
            <div class="glyphicon glyphicon-user" style="font-size: 30px;">32</div>
            <div class="man_num">Number</div>
                </div>
        </div></a>

        <a href="/admin/articles"> <div class="admin_role">
            <div class="center_block">
            <div class="glyphicon glyphicon-book" style="font-size: 30px;">12</div>
            <div class="art_num">Articles</div>
                </div>
        </div></a>

        <a href="#"> <div class="admin_role">
            <div class="center_block">
            <div class="glyphicon glyphicon-calendar" style="font-size: 30px;">32</div>
            <div class="man_num">Calendar</div>
                </div>
        </div></a>

        </div>
    </div>
</div>
</body>
