<body>
<div class="control-label">
    <h3>Admin list
        <div class="glyphicon glyphicon-list"></div>
        <div class="add_btn"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#userCreate">
          <div class="glyphicon glyphicon-plus">ADD</div>
        </button></div>
    </h3>
    <div class="nav_controller">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
    </div>
    <div class="admin_list">
    <table class="table">
        <tr>
            <td>ID</td>
            <td>昵称</td>
            <td>用户名</td>
            <td>密码</td>
            <td>注册时间</td>
            <td>最后登录IP</td>
            <td>最后登录时间</td>
            <td style="text-align: center">操作</td>
        </tr>
        <tbody>
        {volist name="info" id="user"}
        <tr id="reload{$user.id}">
            <td>{$user.id}</td>
            <td>{$user.nickname}</td>
            <td>{$user.username}</td>
            <td>{$user.pwd}</td>
            <td>{$user.create_time}</td>
            <td>{$user.last_login_ip}</td>
            <td>{$user.last_login_i_time}</td>
            <td style="text-align: center">
                <div class="btn btn-primary" id="info">信息</div>
                <a class="btn btn-info" id="edit" href="{:url($data.module_url.$user->id)}">编辑</a>
                <a class="btn btn-danger" href="javascript:;"  onclick="if(confirm('确定要删除该管理员账号吗')){ deleteData({$user->id})}">删除</a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    </div>
    <div class="page_control">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    </div>
    <!--新建用户-->
    <div class="modal fade bs-example-modal-lg" id="userCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">填写用户信息</h4>
                </div>
                <form role="form" enctype="multipart/form-data" action="{:url($data.module_url).'add'}" method="post">
                    {include file="edit_field" /}
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-info" >提交</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>