
<div class="free_loop">
    {foreach name="data.edit_field" item="field" key="key"}
    {switch name=$field['type']}

    {case value="text"}
    <div class="form-group">
        {if isset($field['label']) AND $field['label']}<label>{$field['label']}</label>{/if}
        <input type="{$field['type']}"
               {if isset($field['id']) AND $field['id']}id="{$field['id']}"{/if}
        {if isset($field['disabled']) AND $field['disabled']}disabled=$field['disabled']{/if}
        class="form-control"
        {if isset($field['extra']['data']['format'])}data-format="{$field['extra']['data']['format']}"{/if}
        name="{$key}" value="{if isset($item[$key])}{$item[$key]}{/if}">
        {if isset($field['notes']) AND $field['notes']}<p class="help-block">{$field['notes']}</p>{/if}
    </div>
    {/case}

    {case value="password"}
    <div class="form-group">
        {if isset($field['label']) AND $field['label']}<label>{$field['label']}</label>{/if}
        <input type="{$field['type']}"
               {if isset($field['id']) AND $field['id']}id="{$field['id']}"{/if}
        {if isset($field['disabled']) AND $field['disabled']}disabled=$field['disabled']{/if}
        class="form-control"
        name="{$key}" value="{if isset($item[$key])}{$item[$key]}{/if}">

        {if isset($field['create'])}
        {$field['create']}
        {else/}
        {$field['notes']}
        {/if}
    </div>
    {/case}

    {case value="file"}
    {if isset($field['label']) AND $field['label']}<label>{$field['label']}</label>{/if}
    <div class="form-group">
        <div class="input-group">
            <input id="docPath" type="text" class="form-control" >
            <span id="scan" style="position: relative" class="btn btn-primary input-group-addon">浏览<input id="path" name="{$key}" style="width: 60px;height:40px; position: absolute;top:-6px;left: -4px;opacity: 0; filter:alpha(opacity=0)" class="form-control" type="{$field['type']}"></span>
        </div>
    </div>
    {if isset($item[$key]) AND $item[$key]!=""}
    <a href="__IMAGES__/{$item[$key]}" target="_blank"><img src="__IMAGES__/{$item[$key]}" class="img-responsive img-thumbnail"></a>
    <a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</a>
    {/if}
    {/case}

    {case value="radio"}
    <div class="form-group">
            {if isset($field['label'])}<label>{$field['label']}</label>{/if}
        <div class="checkbox">
            {foreach $field['default'] as $ov=>$ol}
            <label>
                <input type="{$field['type']}" name="{$key}"
                       {if isset($field['disabled']) AND $field['disabled']}disabled="disabled"{/if}
                value="{$ov}" {if(isset($item[$key]) && $item[$key] == $ol)}
                checked="checked" {/if}> {$ol}
            </label>
            {/foreach}
        </div>
        </div>
    {/case}

        {/switch}
        {/foreach}
    </div>