<body>
<div class="global_left">
    <div class="title_left">
        <a href="/admin" style="text-decoration: none"><div style="color:#00CCCC; font-size: 22px; text-align: center;line-height: 50px;border-bottom: 1px solid #EEEEEE;">Hola Blog <span style="font-size: 14px;color:#DDDDDD">&nbsp by &Sen</span></div></a>
    </div>
    <div class="nav_control">
        <div class="administer">
            <a href="#"><div class="adm_title" style="font-size: 18px">Administrator&nbsp&nbsp<div class="glyphicon glyphicon-chevron-down" id="plus_icon"></div></div></a>
            <ul id="admin">
                <li><a href="/admin/administrator">管理员列表</a></li>
                <li><a href="/admin/administrator/create" data-toggle="modal" data-target="#userCreate">新增管理员</a></li>
            </ul>
        </div>
        <div class="articles">
            <a  href="#"><div class="art_title" style="font-size: 18px"> Articles Management&nbsp&nbsp<div class="glyphicon glyphicon-chevron-down"></div></div></a>
            <ul id="article">
                <li><a href="/admin/articles">文章管理列表</a></li>
                <li><a href="/admin/articles/create">添加新文章</a></li>
            </ul>
        </div>
    </div>
</div>

</body>